.tuairisc-background {
    background-color: #506572;
}

.tuairisc-menuitem {
    background: none !important;
    border: 0 !important;
}

.tuairisc-menuitem a {
    background: none !important;
    color: #fff;
}

img.post-featured {
    /* The application cramps rectangular thumbnails into a square space. */
    object-fit: cover;
}

div.wp-caption {
    /* Images with an attribute set can overflow the page width. */
    max-width: 100%;
}
