.tuairisc-background {
    background-color: #506572;
}

.tuairisc-menuitem {
    background: none !important;
    border: 0 !important;
}

.tuairisc-menuitem a {
    background: none !important;
    color: #fff;
}
