<div class="padding postsite">

	<div ng-show="!spinner">
		<div class="loader">
			<ion-spinner icon="{{loader | spinnerFilter}}"></ion-spinner>
		</div>
	</div>

	<div ng-show="title">
		<p class="post-category" ng-bind-html="category"></p>

		<div ng-bind-html="data.do_api_action.postsite.above_title || ' ' | allow_html" compile-template></div>

		<div class="post-title"><h4 ng-bind-html="title"></h4></div>

		<div ng-bind-html="data.do_api_action.postsite.below_title || ' ' | allow_html" compile-template></div>

		<img class="full-image post-featured" ng-src="{{featured}}">

		<div ng-bind-html="data.do_api_action.postsite.above_content || ' ' | allow_html" compile-template></div>

		<div class="post-content" ng-bind-html="content | allow_html" compile-template></div>

		<div ng-bind-html="data.do_api_action.postsite.below_content || ' ' | allow_html" compile-template></div>
	</div>

</div>
